@font-face {
    font-family: comicsans;
    src: url(fonts/ComicSansMS3.ttf);
}
  
.text {
    font-family: comicsans;
    font-weight: 400;
}

.blur {
    filter: blur(0px);
}

/* Style buttons */
.btn {
    background-color: rgb(255, 0, 255);
    border: none;
    color: rgb(255, 255, 0);
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(0, 255, 0);
  }
  